.feedbackCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    gap: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.feedbackCard__content {
    background: url('../../../assets/marks.svg') no-repeat 10px 10px/50px;
    padding: 20px 20px 20px 70px;
    min-height: 100px;
}


.feedbackCard__text {
    font-size: 18px;
}

.feedbackCard__user {
    display: flex;
    align-items: center;
    gap: 20px;

}

.feedbackCard__userAvatar {
    display: block;
    width: 70px;
    /* border: 2px solid var(--color-header); */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.feedbackCard__userInfo {}

.feedbackCard__userInfo_name {
    color: var(--color-header);
    font-weight: bold;
}

.feedbackCard__userInfo_orderType {}