.service__card {
    position: relative;
    width: 265px;
    max-height: 475px;
    text-align: center;
    background-color: var(--bg-underlay);
    border-radius: 20px;
    padding: 70px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.service__card>img {
    position: absolute;
    /* top: -50%;
    left: -50%; */
    transform: translate(-50%, -100%);
    width: 50%;
    filter: drop-shadow(0px 17px 6px rgba(36, 64, 86, .8))
}

.service__card h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.ditail_list {
    text-align: left;
}

.service__card ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service__kind {
    position: relative;
    padding-left: 20px;
    font-weight: bold;
}

.service__kind::before {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: url('../../../assets/marker.svg') center / cover no-repeat;
    left: 0;
}