.gallary {
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

.gallary__box {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row;
    justify-content: space-between;
    gap: 30px;
}

.gallary__box:hover>div:hover>img {
    transform: scale(1.1);
}

.gallary__box>div {
    transition: filter 0.3s ease-in;
}

.gallary__box:hover>div:not(:hover) {
    filter: brightness(70%);
}