.carousel {
    position: relative;

}

.carousel__wrapper {
    overflow-x: hidden;
    position: relative;
}

.carousel__cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.carousel__arrow {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    bottom: -50px;
    border-radius: 55px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px; */
    transition: filter 0.1s ease-in-out;
    background: url('../../../assets/arrow_carousel.svg') no-repeat center/contain;
    filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.5));
}

.carousel__arrow:active {
    filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0)) brightness(0.8);
    ;
}

.carousel__arrow_left {
    transform: rotate(180deg);
    left: calc(50% - 60px);

}

.carousel__arrow_right {
    right: calc(50% - 60px);
}