:root {
  --color-background: #dfe2e7;
  --color-header: #a13531;
  --color-subHeader: #f6e8d1;
  --color-text: #244056;
  --bg-underlay: rgba(36, 64, 86, .2);
  --bg-text-outline: rgba(246, 232, 209, 1);
}

@font-face {
  font-family: 'Headers';
  src: url('../src/assets/Fonts/Headers/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Content-reg';
  src: url('../src/assets/Fonts/Content/PT_Sans/PTSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Content-bold';
  src: url('../src/assets/Fonts/Content/PT_Sans/PTSans-Bold.ttf');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Content-italic';
  src: url('../src/assets/Fonts/Content/PT_Sans/PTSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}


html,
body {
  background: var(--color-background);
  font-family: 'Content-reg', serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  color: var(--color-text)
}

.article_title {
  font-style: 50px;
}