.post {
    display: flex;
    background: var(--color-background);
    flex-direction: column;
    width: clamp(350px, 30%, 365px);
    min-height: 440px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.post__image,
.post__content {
    width: 100%;
    /* border: 1px solid green; */
    flex: 1 0 50%;
}

.post__image {
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
}

.post__image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.post__info {
    padding-left: 30px;
}

.post__info>span:first-child {
    margin-right: 50px;
}

.post__info_author,
.post__info_date {
    position: relative;
}

.post__info_author {
    font-weight: bold;
    color: var(--color-header)
}

.post__info_author::before,
.post__info_date::before {
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

.post__info_author::before {
    background: url('../../../assets/author.svg') no-repeat center/contain;
}

.post__info_date {}

.post__info_date::before {
    background: url('../../../assets/date.svg') no-repeat center/contain;
}

.post__title {
    font-size: 20px;
    font-weight: bold;
}

.post__readMore {}

.post__readMore>button {
    position: relative;
    display: block;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.post__readMore>button::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: -30px;
    transform: translate(0, -40%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url('../../../assets/post_arrow.svg') no-repeat center/contain;
    transition: background 0.3s ease-in-out, right 0.3s ease-in-out;
}

.post__readMore>button:hover {
    color: var(--color-header);
}

.post__readMore>button:hover::after {
    background: url('../../../assets/post_arrow_hover.svg') no-repeat center/contain;
    right: -25px;
}